{
  "extends": [
    "next/core-web-vitals",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "prettier",
    "plugin:tailwindcss/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint", "prettier", "jsx-a11y"],
  "rules": {
    "indent": "off",
    "max-len": ["error", 150],
    "no-multiple-empty-lines": ["error", { "max": 1 }],
    "no-trailing-spaces": "error",
    "space-in-parens": "error",
    "no-multi-spaces": "error",
    "no-var": "error",
    "prefer-const": "error",
    "default-param-last": "off",
    "import/order": "warn",
    "no-param-reassign": "error",
    "no-unreachable": "error",
    "object-curly-spacing": ["error", "always"],
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "@typescript-eslint/consistent-type-definitions": ["error", "type"],
    "@typescript-eslint/consistent-type-exports": "error",
    "@typescript-eslint/consistent-type-imports": "error",
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/no-require-imports": "error",
    "@typescript-eslint/no-unused-vars": ["error", { "ignoreRestSiblings": false }],

    "react/self-closing-comp": "error"
  }
}
